:root {
    font-size: 14px;
    --color-black: #000;
    --color-gray: #a5a5a5;
    --color-blue: #c6d9f1;
    --color-dark-blue: #538cd2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100vh;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 75px;
}


h1 {
    font-size: 8.5em;
    margin: 0 auto;
}

h2 {
    margin: 0 auto 30px auto;
    font-family: "Forever Brush Script", Arial, sans-serif;
    font-size: 5em;
}

h3 {
    color: var(--color-dark-blue);
    margin: 0 auto;
    padding: 15px;
    font-size: 2em;
}

h3:before, h3:after {
    content: '';
    display: inline-block;
    width: 200px;
    height: 1px;
    margin: 8px 30px;
    background-color: var(--color-dark-blue);
}

h4 {
    font-size: 2em;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.25em;
    font-weight: normal;
    color: var(--color-gray);
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: column;
}

.contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.2em;
    color: var(--color-gray);
}

.contacts > div:not(:first-child):before {
    content: '-';
    display: inline-block;
    width: 20px;
    padding-left: 20px;
}


section {
    max-width: 90%;
}

.section-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-bottom: 30px;
}

.working-dates {
    width: 22%;
    color: var(--color-dark-blue);
}

.working-dates span {
    display: block;
}

.section-content {
    width: 76%;
}

.section-content p {
    word-wrap: anywhere;
}


.main-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
}

main {
    width: 75%;
}

aside {
    width: 28%;
    background-color: var(--color-blue);
    padding: 50px 20px;
}

aside section {
    margin-bottom: 30px;
}

aside ul {
    font-size: 1.1em;
}

.big-space {
    margin-bottom: 20px;
}


@media (min-width: 1400px) {
    .content {
        width: 1250px;
    }
}

@media (max-width: 1032px) {
    h3:before, h3:after {
        width: 100px;
    }

    .main-content {
        flex-direction: column;
    }


    main {
        width: 100%;
    }

    aside {
        width: 100%;
        margin-bottom: 80px;
        padding: 50px 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    aside section {
        min-width: 250px;
    }
}

@media (max-width: 830px) {
    h3 {
        margin: auto;
        font-size: 1.6em;
    }

    h3:before, h3:after {
        content: '';
        width: 0;
    }

    .contacts {
        flex-direction: column;
    }

    .content div {
        text-align: center;
        width: auto !important;
    }

    .contacts div:before {
        content: '' !important;
        display: none !important;
        width: auto !important;
        padding-left: 0 !important;
    }
}
