@import "../../node_modules/normalize.css"
@import "font-faces"

@import "header"
@import "footer"
@import "variables"


html, body
  font-family: Ubuntu, Calibri, Arial, sans-serif
  width: 100vw
  height: 100%
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: $background-color
  overflow: hidden

body
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: space-between


main
  height: 80%
  margin: 0 auto
  padding: 20px 10px

.links
  li
    list-style: none

    a
      position: relative
      display: block
      min-height: 32px
      color: $text-color
      text-decoration: none

      &:hover
        color: darken($text-color, 5%)

        &:before
          left: -17px
          transition: all 0.5s ease

      &:before
        content: ''
        position: absolute
        top: 3.5px
        left: -24px
        display: block
        width: 12px
        height: 12px
        vertical-align: middle
        background-image: url("../images/arrow.svg")
        background-repeat: no-repeat
        background-position: left 0
        transition: all 0.5s ease

