<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=np initial-scale=0, maximum-scale=1.0, minimum-scale=0.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../favicon.ico" type="image/icon">
    <title>Lesson 2: Plane HTML</title>
</head>
<body>
<header>
    <div>
        <h1 id="employee-name">Yermakov Yurii</h1>
        <h2 id="employee-position">Unity C# Game Developer</h2>
    </div>
    <div class="language-switch">
        <ul>
            <li>
                <a class="lang-en" href="#en">en</a>
            </li>
            <li>
                <a class="lang-ru" href="#ru">ru</a>
            </li>
            <li>
                <a class="lang-ua" href="#ua">ua</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <aside>
        <div id="employee-photo">
            <img src="#" alt="Yurii Yermakov">
        </div>
        <div class="feedback-wrapper">
            <p><b>Kyiv suburb, Ukraine</b></p>
        </div>
        <ul class="contacts">
            <li>
                <span id="img-email"></span>
                <a href="mailto:juri.lents@gmail.com">juri.lents@gmail.com</a>
            </li>
            <li>
                <span id="img-phone"></span>
                <a href="tel:380995332707">+380 99 533 27 07</a>
            </li>
            <li>
                <span id="img-github"></span>
                <a href="https://github.com/jurilents">GitHub</a>
            </li>
            <li>
                <span id="img-linkedin"></span>
                <a href="https://linkedin.com/in/jurilents">LinkedIn</a>
            </li>
            <li>
                <span id="img-telegram"></span>
                <a href="https://t.me/jurilents">Telegram</a>
            </li>
        </ul>
    </aside>
    <section>
        <h3 class="section-title">About Me</h3>
        <div class="section-content">
            <p>
                I am a second year student who actively studying backend and game development in parallel with my
                studies at the university. I plan to apply for the position of a junior developer in the field of game
                development based on the Unity Engine. I am actively developing and improving myself as much as possible
                in order to be useful and I was not ashamed of the work done.
            </p>
        </div>
    </section>
    <section>
        <h3 class="section-title">Skills</h3>
        <div class="section-content">
            <ul>
                <li><b>C# .Net</b> Core 3</li>
                <li>Unity Engine</li>
                <li><b>Python 3</b></li>
                <li>HTML, CSS (Sass)</li>
                <li>JavaScript <b>(TypeScript)</b></li>
                <li>Git, GitHub</li>
                <li>Docker</li>
            </ul>
            <ul>
                <li>PostgreSQL, MongoDB</li>
                <li><b>NodeJS</b>/Express</li>
                <li>Gulp, Webpack, eslint</li>
                <li>C/C++</li>
                <li>Photoshop, <b>Illustrator</b></li>
                <li>Microsoft Office</li>
                <li><b>Soft Skills</b></li>
            </ul>
        </div>
    </section>
    <section>
        <h3 class="section-title">Education</h3>
        <div class="section-content">
            <p>
                <b>Taras Shevchenko National University of Kyiv</b>
                Faculty of Information Technologies
                Network and Internet Technologies (2019-2024)
            </p>
        </div>
    </section>
    <section>
        <h3 class="section-title">Personal projects</h3>
        <div class="section-content">
            <div class="project-wrapper">
                <img src="" alt="@">
                <div class="section-content">
                    <h4>SAIF Factory</h4>
                    <p>Semi-artificial bots farm based on genetic algorithms</p>
                </div>
            </div>
            <div class="project-wrapper">
                <img src="" alt="@">
                <div class="section-content">
                    <h4>SnakeIO</h4>
                    <p>Hybrid of classic snake game and popular AgarIO game</p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>